PUBLISHER_BLUESKY_HANDLE="..."
PUBLISHER_BLUESKY_PASSWORD="..."
PUBLISHER_DID="..."
ANTHROPIC_API_KEY="your-anthropic-api-key"
DATABASE_URL="postgres://postgres:postgres@db/nederlandskie"
FEED_GENERATOR_HOSTNAME="..."
